<%= content_tag :div, class: "data", data: {feedback: @feedback} do %>
<% end %>
<div class="cf-app-msg-screen cf-app-segment cf-app-segment--alt">
	<div class="cf-push-left">
    	<h2>Current Feedback</h2>
  		<div class="feedback-paragraph"><span >New feedback submissions today:  </span><span class ="count"><%= @count %></span></div>
  	</div>
  	 <div class="cf-push-right">
	  	<div class="usa-grid">
		    <div class="usa-width-one-whole">
		      <div role="search">
		        <%= form_tag search_path, method: :get, class: "usa-search usa-search-small"  do %>
				  <%= label_tag "search-field", nil, class: "usa-sr-only" %>
				  <%= search_field_tag "search", nil, id: "search-field", class: 'form-control typeahead' %>
				  <%= button_tag ''	%>
				<% end %>
		      </div>
    		</div>
	  	</div>
	 </div>
    <table class="usa-table-borderless table-width" summary="Each row represents a feedback">
	<caption hidden>This table shows all feedback submitted.</caption>
	<thead>
	    <tr>
		<th class="user-col" scope="col"><h3>User</h3></th>
		<th class="date-col" scope="col"><h3>Date</h3></th>
		<th class="app-col" scope="col"><h3>Application</h3></th>
		<th class="feedback-col" scope="col"><h3>Feedback</h3></th>
		<th class="issue-col"scope="col"><h3>Issue</h3></th>
		<th class="pii-col"scope="col"><h3>PII</h3></th>
	    </tr>
	</thead>

	<tbody id="feedback">
	</tbody>
    </table>
    <ul id="pagination"><%= will_paginate @feedback =%></ul>
</div>
