    <div class="cf-app-msg-screen cf-app-segment cf-app-segment--alt">
      <table class="usa-table-borderless" summary="Each row represents a feedback">
      <caption hidden>This table shows all feedback submitted.</caption>
      <thead>
        <tr>
         <th scope="col"><h3>User</h3></th>
        <th scope="col"><h3>Date</h3></th>
        <th scope="col"><h3>Application</h3></th>
        <th scope="col"><h3>Feedback</h3></th>
        </tr>
      </thead>

      <tbody>
        <% @feedback.each do |feedback| %>
          <tr>
            <% if feedback.contact_email.blank? %>
              <td valign="top"><%= feedback.username %></td>
            <% else %>
              <td valign="top"><%= feedback.contact_email %></td>
            <% end %>
            <td valign="top"><%= feedback.created_at.strftime("%m/%d/%Y") %></td>
            <td valign="top"><%= feedback.application %></td>
            <td valign="top"><%= feedback.feedback %></td>
            <td valign="top">
              <% unless feedback.admin_note.nil? %>
                <%= feedback.admin_note %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>


