<!DOCTYPE html>
<html lang="en">
<head>
  <title>Caseflow Feedback</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <% if content_for?(:head) %><%= yield :head %><% end %>

  <!-- Script for GA. Currently setup for production only. To add more environements, set google_analytics_account variable for that environment -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '<%= Rails.configuration.google_analytics_account %>', 'auto');
        ga('send', 'pageview');
      </script>

      <%= favicon_link_tag %>

</head>
<body>
  <header>
    <nav class="cf-nav">
      <div class="usa-grid-full">
        <a href="/">
          <h1 class="cf-logo"><%= content_tag(:span, nil, :class => "cf-logo-image #{logo_class}") %>Caseflow</h1> <span class="cf-logo-name"><%= logo_name %></span>
        </a>
        <h2 id="page-title" class="cf-application-title"><%= yield :page_title %></h2>

        <% unless current_user.nil? %>
          <div class="cf-dropdown cf-nav-dropdown">
            <a href="#menu" class="cf-dropdown-trigger" id="menu-trigger">
              <%= current_user.display_name %>
            </a>
            <ul id="menu" class="cf-dropdown-menu" aria-labelledby="menu-trigger">
              <a href="<%= url_for controller: 'application', action: 'logout'%>">Sign out</a>
            </ul>
          </div>
        <% end %>
      </div>
    </nav>
  </header>

  <main class="usa-grid">
    <div class="cf-app">
      <%= yield %>
    </div>
  </main>

  <footer class="cf-txt-c usa-grid cf-app-footer">
    <div class="cf-push-left">
      <span>Built</span> with <abbr title="love">&#9825;</abbr> by the
      <a href="http://www.va.gov/ds/">Digital Service at the <abbr title="Department of Veterans Affairs">VA</abbr></a>.
    </div>
  </footer>
</body>
</html>
